:root {
    --color-primary: #000066;
    --button-width: 254px;
    --button-height: 48px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;

    min-height: 100vh;

    background-color: #f5f5dc;
    color: #000066;
}
